// File Name: _header.scss
// Description: Site header
// Used by: 
// Dependencies: 
// Date created: 16/07/2015
// ------------------------------------------------------------

header{
  text-align:center;
  @include rem("padding-bottom", 30);

  a{
    text-decoration:none;
    color:black;

    &:hover, &:focus{
      color:$darkGrey;
    }
  }

  h1{
    font-family:$headingFont;
    @include rem("font-size", 32);
    @include rem("margin", 30, 0, 20, 0);
  }

  .image{
    display:block;
    width:100px;
    height:100px;
    border:5px solid white;
    @include roundedCorners(100);
    background:url(../img/ryan-burgess.jpg) no-repeat;
    @include retina("../img/ryan-burgess@2x.jpg", 100, 100);
    @extend %marginAuto;
  }
}